[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js
[submodule "reveal.js-menu"]
	path = reveal.js-menu
	url = https://github.com/denehyg/reveal.js-menu
[submodule "reveal-pointer"]
	path = reveal-pointer
	url = https://github.com/burnpiro/reveal-pointer
